@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Nanum+Gothic&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Fira Sans', sans-serif;
}
html {
    scroll-behavior: smooth;
}

header {
    background-color: rgba(52, 79, 222, 1);
    height: 180px;
    padding: 0px;
    margin: 0px;

}

header>h1 {
    color: white;
    height: 50px;
    padding-top: 25px;
    margin: auto;
    text-align: center;
}

header>nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    height: 100px;
    width: 100%;

}

header>nav>ul>li {
    background-color: rgba(25, 21, 209, 1);
    display: inline-block;
    width: 110px;
    height: 30px;
    border-radius: 15px;
    text-align: center;
    line-height: 30px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

header>nav>ul>li>a {
    text-decoration: none;
    color: white;
    display: block;
}

a {
    text-decoration: none;
}
ul>li{
    font-size: 18px;
}

ul>li>a:hover {
    background-color: rgba(52, 79, 222, 1);
}

.conteiner-secoes {
    width: 100%;
    display: flex;
    justify-content: center;

}

#introducao,#materiais {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 80vw;
    border: 2px solid black;
    border-radius: 15px;

}

.titulos {
    color: rgba(37, 68, 231, 1);
    text-align: center;
    margin-top: 20px;
}

.introducao-p1 {
    padding: 20px;

}

p {
    font-size: 18px;
    padding: 20px;
}

h3 {
    padding-left: 15px;
}


.antes-lista {
    padding-bottom: 10px;
}

.depois-lista {
    padding-top: 10px;
}

.lista-introducao {
    padding-left: 60px;
    padding-right: 20px;
}

.titulos {
    color: rgba(37, 68, 231, 1);
}

#container {
    
    width: 55px;
    height: 55px;
    background-color: rgb(22, 22, 197);
    border-radius: 30px;
    cursor: pointer;
    position: fixed;
    right: 18px;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    
}

#link-Voltar {
    display: none;
    content: '▲';
    font-size: 30px;
    text-decoration: none;
    color: white;
    padding:9px 12px 9px 12px;

}
#materiais>ul>li{
    margin-left: 80px;
    padding: 5px;
}
#materiais>ul{
    padding-bottom: 20px;
}