#montagem {
  position: relative;
}

.conteiner-conjunto1,.conteiner-conjunto2,.conteiner-conjunto3,.conteiner-conjunto4{
  width: 100%;
  height: 286px;
  margin: auto;
  display: flex;


}

.slide1,.slide2,.slide3,.slide4 {
  position: relative;
  margin: auto;
 
  width: 100%;
  height: 80%;
  border-radius: 10px;

}


.imagens-carrossel {
  margin: auto;
  width: 350px;

}


.proximo,
.anterior,.proximo2,.anterior2,.proximo3,.anterior3,.proximo4,.anterior4 {
  position: absolute;
  top: 18%;
  transform: translateY(-50%);
  cursor: pointer;
  width: auto;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 23px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.anterior,.anterior2,.anterior3,.anterior4  {
  left: 28%;
}

.proximo,.proximo2,.proximo3,.proximo4 {
  right: 28%;
}
.proximo2,.anterior2{
  top: 41%;
}
.proximo3,.anterior3{
  top: 62%;
}

.anterior4{
  top: 87%;
  ;
}
.proximo4{
  top: 87%;
  right: 28%;
}


.texto {

  color: black;
  font-size: 18px;
  padding-top: 15px;
  text-align: center;
}

.url-imagens {
  border: 1px solid black;
  display: block;
  margin: auto;
  max-width: 100%; 
  height: 229px;
  border-radius: 10px;
}
#finalizacao{
 padding-top: 35px;
}

#iframeId{
  width: 560px; 
  height:315px;
}
#video-youTube{
  text-align: center;
  margin: 20px;
  border-radius: 20px;
}
#mensagem-celular{
  display: none;
}

#div-binario-decimal{
  width: 400px;
  height: 200px;
  margin: auto;
  padding-bottom: 10px;
  
}
#imagem-binario-decimal{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

@media screen and (min-width:200px) and (max-width:900px) {

  .proximo,
  .anterior,.proximo2,
  .anterior2 {
    font-size: 30px;
  }
}

@media screen and (min-width:379px) and (max-width: 472px) {
  .url-imagens {
    border: none;
    margin: auto;
    display: block;
    width: 280px;
  }
}


@media screen and (min-width: 200px) and (max-width: 379px) {
  .url-imagens {
    margin: auto;
    border: none;
    display: block;
    width: 230px;
  }
}

@media screen and (min-width: 420px) and (max-width: 636px) {
  #iframeId{
    width: 350px; 
    height:200px;
  }
}
@media screen and (min-width: 350px) and (max-width: 419px) {
  #iframeId{
    width: 300px; 
    height:200px;
  }
}
@media screen and (min-width: 100px) and (max-width: 349px) {
  #video-youTube{
    display: none;
  }
  #mensagem-celular{
    display: block;
  }
}

@media screen and (min-width: 200px) and (max-width: 470px) {
  #div-binario-decimal{
    width: 200px;
    height: 100px;
    
  }
}

